<div class="modal  fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div id="success" class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" ns-bind="title" ></h4>
            </div>
            <div class="modal-body">
                <div ns-bind="message" class="alert alert-success" role="alert"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> 
                <button  data-dismiss="modal"  type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>